# Editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
Thumbs.db
.DS_Store

# Dependencies
**/node_modules/
**/dist/

# Example output
examples/generated-icon.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lock files
package-lock.json

# Secrets
*.env
!.env.example
google_service_account.json
